<p class="add" style="font-size:30px;color:beige">关于</p> <br />
@*@{
    ViewBag.Title = "关于";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@


<style>
    .p p {
        font-size: 16px;
        font-weight: 500;
        color:chartreuse;
    }
</style>
<div class="p">

<p>这是一个非商业性质的免费网站。提供注册机音乐下载以及试听。</p>

   </div>


