
@*@{
    ViewBag.Title = "联系";
}*@
<style>
    .add p {
        font-size: 16px;
        font-weight: 500;
        color: greenyellow;
    }
</style>

<p class="add" style="font-size:30px;color:beige"  >联系</p> <br />

@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<address class="add">
    
    <p>我的联系方式:</p>


     <p>Email:648642694@qq.com</p>
     <p> 地址: 中国·山东</p>
    <p> address: China·shandong</p>

    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>